<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <title>Detail</title>
    
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="row pt-5">
            <div class="col">
                <h2><b>Detail Gudang</b></h2>
            </div>
            <div class="col-auto">
                <a type="button" class="btn btn-md btn-primary" th:href="@{/gudang/{id}/restock-barang (id=${gudang.id})}">+ Restock Barang</a>
            </div>
        </div>
        <p></p>
        <div class="row align-items-center pt-2">
            <div class="col">
                <p th:text="'Nama Gudang: ' + ' ' + ${gudang.nama}"></p>
                <p th:text="'Alamat Gudang: ' + ' ' + ${gudang.alamatGudang}"></p>
            </div>
        </div>
        <div class="text-align">
            <h6><b>Daftar barang yang tersedia:</b></h6>
        </div>
        <table class="table" id="tableGudang">
            <thead>
                <tr>
                    <th>#</th>
                    <th>SKU</th>
                    <th>Merk</th>
                    <th>Stok</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="barang, iterationStat : ${listBarang}">
                    <td th:text="${iterationStat.index + 1}"></td>
                    <td th:text="${barang.key.sku}"></td>
                    <td th:text="${barang.key.merk}"></td>
                    <td th:text="${barang.value}"></td>
                    <td th:text="'Rp' + ' ' + ${barang.key.hargaBarang}"></td>
                </tr>
            </tbody>
        </table> 
        <div class="text-center m-3">
            <a type="button" class="btn btn-primary m-2" href="/gudang/">Kembali</a>
        </div>
        
    </div>
    
</body>